body {
    min-height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}

.mo-am-input {
    position: relative;
}

.mo-am-input::before {
    content: 'dsf';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(203, 41%, 72%);
    width: 2.5rem;
    /* height: 100%; */
    top: 0;
    bottom: 0;
}


.right-side-results::before {
    content: '';
    background-color: white;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}